<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/icons/NN.png">
    <link rel="stylesheet" type="text/css" href="./semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <meta name=”description” content='Search the world’s information, including web pages, images, videos and more. Google has many special features to help you find exactly what you’re looking for.'>
    <title>ZemuldO</title>
</head>
<body>
<div id="root"></div>
<!--This is the main entry point to this project-->
</body>
</html>
