/*
    CopyRight: Danstan Onyango Zemuldo.Com
    Author : Danstan Otieno Onyango
    Website : http://www.zemuldo.com/
*/

/*Body*/
.main_body{

}
.blogs{
    margin-left: 10px;
}

/*
    Navigation Bar
 */

.navBar {
    background-color: black;
    opacity: 0.8;
}

.navBar span {

}

.dropDown {

}

/*
    Footer
*/
.footerContainer{
    font-size: 20px;
    background-color: ghostwhite;
}
.footer {
    margin-top: 90%;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

/*
    Buttons
 */
.redMoreButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.redMoreButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.redMoreButton:hover span {
    color: orange;
    padding-right: 25px;
}

.redMoreButton:hover span:after {
    opacity: 1;
    right: 0;
}

.cleanButton button {
    background-color: transparent;
    border: none;
}

.cleanButton button:hover {
    background-color: transparent;
    border: none;
}

.clearButton {
    background-color: transparent;
    border: none;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

/*
    Rich Text Editor
*/
.editor{
    background-color: red;
}

.RichEditor-root {
    background: #fff;
    font-family: 'Georgia', serif;
    font-size: 16px;
    padding: 15px;
}

.RichEditor-editor {
    cursor: text;
    font-size: 16px;
    margin-bottom: 10%;
}

.RichEditor-editor .public-DraftEditorPlaceholder-root,
.RichEditor-editor .public-DraftEditor-content {
    margin: 0 -15px -15px;
    padding: 15px;
}

.RichEditor-editor .public-DraftEditor-content {
    min-height: 100px;
}

.RichEditor-hidePlaceholder .public-DraftEditorPlaceholder-root {
    display: none;
}

.RichEditor-editor .RichEditor-blockquote {
    color: darkslategrey;
    font-family: 'Hoefler Text', 'Georgia', serif;
    font-style: italic;
    margin: 0 10% 0 10%;
}

.RichEditor-editor .CODE {
    background-color: black;
    border-radius: 3%;
    padding: 10%;
}

.RichEditor-editor .public-DraftStyleDefault-pre {
    position: relative;
    max-width: 70%;
    background-color: rgb(68,68,68); /* Needed for IEs */

    -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
    padding: 5px;
    list-style: none;
    overflow:auto;
    color: #45D40C;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
}

.RichEditor-editor .public-DraftStyleDefault-pre .content {
    position: relative; /* This protects the inner element from being blurred */
    padding: 100px;
    background-color: #DDD;
}


.RichEditor-controls {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
    user-select: none;
}

.RichEditor-styleButton {
    color: #999;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 0;
    display: inline-block;
}

.RichEditor-activeButton {
    color: #5890ff;
}

.TextEditTools {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px
}

.RichEditor-root-preview {
    background: #fff;
    font-family: 'Georgia', serif;
    font-size: 16px;
    padding: 15px;
}

/*
        Forms
*/

.forms-ls {
    margin-top: 10%;
}

.login-form {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 6%;
}

.login-content {
    min-width: 250px;
    display: inline-block;
}

.signup-form {
    text-align: center;
    margin-bottom: 10%;
    margin-top: 6%;
}

.signup-content {
    min-width: 400px;
    display: inline-block;
}

.clearElem button {
    border: none;
    background-color: transparent;
}

.shareIcon sup {
    color: green;
    font-size: small;
}

.info {
    color: green;
    font-size: medium;
}

.authorImage {
    width: 400px;
    background: yellow;
}

.authorImage img {
    float: left;
    width: 150px;
    background: red;
}

/*
    TOPICS
    Styling for the Topics Navigation Component.
*/

.topicsWrapper {
    color: blue;
    margin: 2em 0em 0em 1em;
}

.topicsWrapper h3 {
    margin-left: 10px;
}

.topicsWrapper button {
    color: blue;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.topicButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.topicButton span:after {
    color: orange;
    position: absolute;
    opacity: 0;
    top: 0;
    right: -5px;
    transition: 1s;
}

.topicButton:hover span {
    color: orange;
    padding-right: 3px;
}

.topicButton:disabled {
    color: orange;
}

.topicButton:hover span:after {
    opacity: 1;
    right: 0;
}

/*
             Loaders
*/
.center-loader {
    left: 50%;
    position: fixed;
    z-index: -1;
    bottom: 50%;
}

.small-loader {
    margin: 3em 0em 0em 0em;
}


/*
    Common
*/
.alignCenter {
    text-align: center;
}

.marginLeft35 {
    margin-left: 35%;
}

.marginTop2 {
    margin-top: 2%;
}
.colorBlue{
    color: blue;
}
.colorRed{
    color: red;
}
.clear_button{
    background-color: transparent;
    border: none;
}
.colorGreen{
    color: green
}
/*
    Chat
*/
.chatContainer {
    background-color: white;
    padding: 10px;
    border-radius: 1%;
}

.userMessContainer {
    padding: 4px;
    color: blue;
    background-color: lightblue;
    margin-left: 60%;
    border-radius: 5%;
    border: lightblue;
}

.botMessContainer {
    padding: 4px;
    color: blue;
    margin-right: 30%;
    background-color: lightgreen;
    border-radius: 3%;
    border: darkolivegreen;
}

.userTyping {
    color: blue;
    margin-left: 60%;
}

.botTyping {
    color: blue;
    margin-right: 30%;
}

/*
    Blogs
*/
.blogCard{
    background-color: #7aa61a;
}


/* Fonts */
.font-24{
    font-size: 24px;
}
